html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #eef4dc;
  font-family: "Helvetica Neue","Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  margin: 1rem 10rem;
  font-weight: bold;
}

h2:nth-child(4) {
  color: #d91c2f;
}

h2:nth-child(2) {
  color: #76ad9b;
}

.img-wrapper {
  display: inline-block;
  width: 33.3%;
  position: relative;
}

.wrapper {
  margin: 1rem;
  display: flex;
  width: 80%;
}

div.masonry {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: column wrap;
  height: 100vw;
  font-size: 0;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}
div.masonry img {
  width: 100%;
  transition: 0.5s opacity;
}
div.masonry:hover img {
	opacity: 0.3;
}
div.masonry:hover img:hover {
  opacity: 1;
  cursor: crosshair;
}

@supports not (flex-wrap: wrap) {
  div.masonry {
    display: block;
  }
  div.masonry img {
    display: inline-block;
    vertical-align: top;
  }
}

.hidden {
  /* display: none; */
}

.hide {
  display: none;
}

.detail-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 500px;
  width: 500px;
  /* background-color: red; */
  z-index: 10;
}

.detail-img {
  width: 50vw;
  /* height:100vh; */
}

.overlay {
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 10px;
  padding: 20px;
  text-align: center;
}

div.img-wrapper:hover .overlay {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
  div.masonry {
    align-content: center;
    /* height: 200vw; */
    width: 100%;
    flex-flow: row wrap;
  }
  .img-wrapper {
    width: 100%;
  }
}
